{% extends '_base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>There is Home page</h1>
    {% if request.user.is_authenticated %}
        {{ dashboard }}
        <br>
        <h2>Your name is: {{ request.user.username }}</h2>
        <a href="{% url 'account:dashboard' %}"> Dashboard</a>
        <a href="{% url 'account:logout' %}"> Logout</a>
    {% else %}
        <a href="{% url 'account:register' %}">Register</a>
        <br>
        <a href="{% url 'account:user_login' %}">Log-in</a>
    {% endif %}

{% endblock %}